
<html>
<head>
  <title>Add Flight</title>
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">

  <link rel="stylesheet" type="text/css" href="styles/addintoflight.css"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

<div class="topnav" id="myTopnav">
<div class="navbar-brand"><a href="/" id="brandPlane" class="fa fa-plane"><span style="color:#FF1493;">SkyTek</span></a></div>
 
  <a href="/Signup">Signout</a>
  <a href="/DelayFlight">Delay Flight</a>
  <a href="/CancelFlight">Cancel Flight</a>
  <a href="/AddFlight">Add Flight</a>
  <a href="/temp" class="active">Pending Flights</a>
  <a href="/AddintoFlight">Scheduled Flights</a>
  <a href="/Profile">Profile</a>

  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
 </div>
</div>
<div>
 <p><h5>Welcome to SkyTek! World's leading place for your ease in travelling by Air.</h5></p>
</div>
<div class="table-responsive-xl">

<table id="Flights">
  <tr>
    <th>Airline ID</th>
    <th>Flight Number</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Departure Time</th>
    <th>Business Seat</th>
    <th>Business Price</th>
    <th>Economic Seat</th>
    <th>Economic Price</th>
  </tr>
  <% for(i=0;i<F.length;i++) { %>
  <tr>
  	<td> <%= F[i].AIRLINE_ID %> </td> 
  	<td> <%= F[i].FLIGHT_NUMBER %> </td>
  	<td> <%= F[i].FLIGHT_SOURCE %> </td>
  	<td> <%= F[i].FLIGHT_DESTINATION %> </td>
  	<td> <%= F[i].DEPARTURE_TIME %> </td>
  	<td> <%= F[i].NO_OF_SEATS %> </td>
  	<td> <%= F[i].PRICE %> </td>
  	<td> <%= F[i].BS %> </td>
  	<td> <%= F[i].BP %> </td>
  </tr>
  <% } %>
</table>


</div>


</body>